@font-face {
    font-family: Inter;
    src:
        url("assets/fonts/Inter/Inter-Medium.ttf") format("truetype"),
}

@font-face {
    font-family: ProstoOne;
    src: url('assets/fonts/ProstoOne/ProstoOne-Regular.ttf') format('truetype');
}

@mixin font($size, $weight, $line-height: normal) {
    font-family: Inter, sans-serif;
    font-size: $size;
    font-weight: $weight;
    line-height: $line-height;
}
